/ui/2a4cb7f84dea5ebd753a04717b80c04a.svg
/ui/axe.svg
/ui/axe_1.svg
/ui/backpack.svg
/ui/backpack_1.svg
/ui/com.github.mirkobrombin.bottles.svg
/ui/emblem-new.svg
/ui/emblem-remove.svg
/ui/emblem-synchronizing.svg
/ui/emblem-system.svg
/ui/etr.svg
/ui/first-aid-bag-svgrepo-com.svg
/ui/food.svg
/ui/food_1.svg
/ui/food_2.svg
/ui/food_3.svg
/ui/grinder.svg
/ui/hygiene.svg
/ui/knife.svg
/ui/knife_1.svg
/ui/multi-tool.svg
/ui/spoon-and-a-fork.svg
/ui/tool.svg
/venv/
/data.sqlite
/icons/emblem-new.svg
/icons/emblem-synchronizing.svg
